body {
  background-color: #f7f7f7;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0rem;
  display: grid;
  gap: 3.75rem;
  justify-items: center;
  margin-top: 3.75rem;
}

img {
  max-width: 100%;
  display: block;
}

a {
  text-decoration: none;
}

p, h1, h2, h3 {
  margin: 0rem;
}

p {
  font-size: 1.25rem;
  line-height: 1.3;
}

.header {
  display: grid;
  gap: 3.75rem;
  justify-items: center;
}

.menu {
  display: flex;
  flex-wrap: wrap;
  gap: 1.25rem;
  justify-content: center;
  list-style: none;
  padding: 0px;
}

.menu a {
  background: #ffff;
  padding: 1rem 1.9rem;
  border-radius: 0.3rem;
  color: #000000;
  text-transform: uppercase;
  border: 0.18rem solid transparent;
}

.menu a:hover {
  border-color: #e21;
}

.conteudo {
  display: grid;
  grid-template-columns: 1fr 1fr;
  max-width: 62.5rem;
}

.introducao {
  background: #ffff;
  padding: 2.5rem;
  text-align: right;
  position: relative;
  display: grid;
  align-content: center;
  gap: 1.3rem;
  justify-items: end;
}

  .introducao-cover img {
    height: 100%;
    object-fit: cover;
  }

.introducao::after {
  content: '';
  width: 3.8rem;
  height: 0.25rem;
  background: #e21;
  position: absolute;
  top: 1.9rem;
  right: -1.9rem;
}

.botao {
  background: #e21;
  color: #fff;
  padding: 1rem 1.9rem;
  border-radius: 0.3rem;
  text-transform: uppercase;
}

.botao:hover {
  background-color: #900;
}

.subtitulo {
  font-size: 4rem;
  text-transform: uppercase;
  color: rgba(0, 0, 0, 0.3);
  text-align: right;
  padding: 2.5rem;
  align-self: center;

  background-image: url("./img/onda.svg");

}

.vantagens {
  background: #fff;
  padding: 2.5rem;
  margin: 0;
}

.vantagens-item {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 0.6rem 1.3rem;
  padding: 1.3rem;
}

.vantagens-item:hover {
  border-left: solid;
  border-color: #e21;
}

.vantagens li:nth-child(odd){
  background: #f7f7f7;
}

.vantagens-item p {
  grid-column: 2;
}

footer {
  background: #fff;
  width: 100%;
  padding: 2.5rem;
  text-align: center;
  box-sizing: border-box;
}

@media (max-width: 1000px) {
  body {
    margin-top: 2rem;
    gap: 2rem;
  }

  .header {
    gap: 2rem;
  }

  .conteudo {
    grid-template-columns: 1fr;
  }
  
  .introducao::after {
    display: none;
  }

  .introducao {
    text-align: left;
    justify-items: flex-start;
  }

  .subtitulo {
    text-align: center;
  }
}

@media (max-width: 650px) {
  .menu a {
    display: flex;
  }
}

@media (max-width: 400px) {
  .subtitulo {
    font-size: 2rem;
  }

  .vantagens {
    padding: 1rem;
  }

  .vantagens-item p {
    font-size: 1.1rem;
  }

  footer {
    padding: 2.5rem 0.5rem;
  }

  footer p {
    font-size: 1.1rem;
  }

  .introducao h1 {
    font-size: 1.5rem;
  }

  .introducao p {
    font-size: 1.1rem;
  }

  .botao {
    padding: 0.8rem 1.8rem;
  }
}